.navbar {
  margin-bottom: 0;
}

#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height: 70px;
}

.navbar-brand h1 { 
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: black;
}

.navbar-header button.navbar-toggle {
  margin-top: 15px;
}

h2 {
  margin: 30px;
}

#chicken, #beef, #sushi {
  background-color: #f8f8f8;
  padding: 15px;
  margin: 20px;
}

h3 {
  margin: 15px;
}

